body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(30, 38%, 92%);
}

h1 {
    font-family: 'Fraunces';
    font-weight: 700;
    color: hsl(212, 21%, 14%)
}

.category-name {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 0.8rem;
    letter-spacing: 0.3rem;
}


.card {

    font-family: Montserrat;
    font-weight: 500;
    background-color: hsl(0, 0%, 100%);
    border-radius: 0.8rem;
    color: hsl(228, 12%, 48%);
    box-shadow: 0 0 1.2rem 0.2rem rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 35rem;
    aspect-ratio: 5/4;
}

.card-image {
    display: block;
    overflow: hidden;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-body {
    padding: 2rem;
}

.cta {
    transition-duration: 0.2s;
    box-shadow: 0 0 0.4rem 0.1rem rgba(0, 0, 0, 0.2);
    width: 100%;
    padding: 0.6rem;
    margin-top: 1rem; /*  for some reason changing this changes the image size */
    font-family: inherit;
    font-size: 0.7rem;
    font-weight: 700;
    color: hsl(0, 0%, 100%);
    background-color: hsl(158, 36%, 37%);
    border: unset;
    border-radius: 0.3rem;
    cursor: pointer;
}

.cta:hover {
    background-color: hsl(158, 42%, 18%);
    box-shadow: 0 0 0.4rem 0.1rem rgba(0, 0, 0, 0.4);

}

.price {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 1.2rem;
    font-size: 0.7rem;
}

.discounted-price {
    color: hsl(158, 36%, 37%);
    font-family: "Fraunces";
    font-weight: 700;
    font-size: 1.4rem;
}

.original-price {
    text-decoration: line-through;
}

@media (max-width: 768px) {
    body {
        background-color: red;
    }
    .card {
grid-template-columns: 1fr;
grid-template-rows: 1fr 1fr;
aspect-ratio: 4/5;
}
}